/*
 * Copyright (c) 2020 Robert Wilbrandt
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

#include <dt-bindings/display/ili9xxx.h>

/ {
  aliases {
    status-led = &orange_led_3;
    error-led = &green_led_4;
    gyro = &l3gd20;
  };
};

&spi5 {
  cs-gpios = <&gpioc 2 GPIO_ACTIVE_LOW
              &gpioc 1 GPIO_ACTIVE_LOW>;

  ili9340@0 {
    pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB888>;
    rotation = <90>;
  };

  l3gd20: l3gd20@1 {
    compatible = "st,l3gd20";
    label = "l3gd20";
    spi-max-frequency = <10000000>;
    reg = <1>;
    status = "okay";
  };
};
