# Copyright (c) 2020 Robert Wilbrandt
# SPDX-License-Identifier: BSD-3-Clause
#
# L3GD20 3-axis gyroscope configuration options

menuconfig L3GD20
  bool "L3GD20 3-Axis Gyroscope"
  depends on SPI
  help
    Enable SPI-based driver for the l3gd20 3-axis gyroscope
